
*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: rgba(147, 143, 143, 0.84);
    padding: 15px 10px;
    display: flex;
    justify-content:space-between;
}
.logo{
    margin: 0 15px;
    font-size: 20px;
    font-weight: 800;
}
ul{
    display: flex;
    margin: 0 15px;
}
ul li{
    list-style: none;
    margin: 0 15px;
}
table,tr,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 15px;
}
.container{
    margin: 23px auto;
    max-width: 80vw;
}
h1,h2,h3{
    margin: 20px;
}

